{% extends "gerenciar_estoque_base.html" %}

{% block content %}
<p class="font-medium text-3xl text-gray-700">Registrar Movimentação</p>
<form method="post">
    {% csrf_token %}
    <div class="mr-24 mt-10 mb-4">
        <label for="id_tipo" class="font-medium text-2xl text-gray-700">Tipo de Movimentação:</label>
        {{ form.tipo }}
    </div>
    <div class="mb-4">
        <label for="id_produto" class="font-medium text-2xl text-gray-700">Produto:</label>
        {{ form.produto }}
    </div>
    <div class="mb-4">
        <label for="id_quantidade" class="font-medium text-2xl text-gray-700">Quantidade:</label>
        {{ form.quantidade }}
    </div>
    <div id="fornecedor_field" class="mb-4">
        <label for="id_fornecedor" class="font-medium text-2xl text-gray-700">Fornecedor:</label>
        {{ form.fornecedor }}
    </div>
    <button type="submit">Salvar</button>
</form>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tipoField = document.getElementById("id_tipo");
        const fornecedorRow = document.getElementById("fornecedor_field");
    
        function toggleFornecedor() {
          if (tipoField.value === "entrada") {
            fornecedorRow.style.display = "block";
          } else {
            fornecedorRow.style.display = "none";
          }
        }
    
        tipoField.addEventListener("change", toggleFornecedor);
        toggleFornecedor();  // aplica no carregamento inicial
      });
</script>

{% endblock %}