{% extends 'base.html' %}

{% block content %}
{% load extra_filters %}

<!-- RELATÓRIO DE ESTOQUE PRECISARÁ SAIR DO TEMPLATE GERENCIAR_ESTOQUE, POIS SERÁ MUITO GRANDE PARA POUCO ESPAÇO -->

<div class="h-[calc(100%-2vh)] w-[calc(100%-2vw)] grid grid-rows-1 grid-flow-col gap-4 text-gray-700 text-sm font-bold">
    <div class="ml-10 block p-4 rounded-lg shadow-2xl flex-col row-span-3 justify-items-center text-center">
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table
                    class="min-w-full text-center text-sm font-light text-surface">
                    <thead
                        class="border-b border-neutral-400 font-medium">
                        <tr>
                        <th scope="col" class="px-6 py-2">ID</th>
                        <th scope="col" class="px-6 py-2">Produto</th>
                        <th scope="col" class="px-6 py-2">Quantidade</th>
                        <th scope="col" class="px-6 py-2">Categoria</th>
                        <th scope="col" class="px-6 py-2">Última movimentação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produto in page_obj %}
                        <tr class="border-b border-neutral-400">
                        <td class="whitespace-nowrap px-6 py-2 font-medium">{{ produto.id }}</td>
                        <td class="whitespace-nowrap px-6 py-2">{{ produto.nome }}</td>
                        <td class="whitespace-nowrap px-6 py-2">{{ produto.total_estoque|default:0 }}</td>
                        <td class="whitespace-nowrap px-6 py-2">{{ produto.categoria }} </td>
                        <td class="whitespace-nowrap px-6 py-2">
                            {% if datas_dict|dictkey:produto.id %}
                            {{ datas_dict|dictkey:produto.id |date:"d/m/Y H:i" }}
                            {% endif %}
                        </td>
                        <td class="whitespace-nowrap px-6 py-2">
                        <a href="{% url 'movimentacao:movimentacoes_produto' produto.id %}" class="text-blue-600 hover:underline">Ver movimentações</a> 
                        </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
                </div>
            </div>
            <div class="mt-4 flex justify-center gap-20">
                <a href="{% url 'estoque:gerenciar_estoque' %}" class="">Voltar</a>
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="px-3 py-1 bg-gray-300 rounded">←</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <span class="px-3 py-1 bg-blue-500 text-white rounded">{{ num }}</span>
                    {% else %}
                    <a href="?page={{ num }}" class="px-3 py-1 bg-gray-200 rounded">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="px-3 py-1 bg-gray-300 rounded">→</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!--
      <h1 class="text-gray-700 text-2xl font-medium pb-10"> Relatório de Estoque</h1>
        <table border="1" class="">
            <tr class="">
                <th class="text-gray-700">Produto</th>
                <th class="text-gray-700">Quantidade Atual</th>
            </tr>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.total_estoque|default:0 }}</td>
                <td>
                    {% if datas_dict|dictkey:produto.id %}
                    {{ datas_dict|dictkey:produto.id |date:"d/m/Y H:i" }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
-->
{% endblock %}
